@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inconsolata&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     background-color: #202020;
     font-family: Raleway;
}

/* Navbar */
.logo{
     color: #086EC0;
}

.nav-link{
     color: #919192;
}

.search_bar{
     width: 50vw;
     background-color: #525355;
     border: none;
     outline: none;
     height: 40px;
     padding: 1.5rem;
     color: #BEBFBF;
}

/* Add Note Button */
.add_note{
     background-color: #525355;
     height: 40px;
     padding-block: 1.5rem;
     border: none;
     outline: none;
     color: white;
     transition: 0.2s all ease-in-out;
}

.add_note:hover{
     background-color: #086EC0;
     color: white;
     transition: 0.2s all ease-in-out;
}

.add_note:focus{
     background-color: #086EC0;
     color: white;
     transition: 0.2s all ease-in-out;
}

.user_profile, .menu_logo{
     color: #939394;
     transition: 0.2s all ease-in-out;

}

.user_profile:hover{
     color: #086EC0;
}


/* Navbar Menu Logos */
.menu_logo:hover{
     background-color: #313236;
     color: white;
     transition: 0.2s all ease-in-out;
}

/* User Profile Section */
.profile{
     background-color: #202020;
     color: white;
}

.user_img{
     border-radius: 50%;
}

.btn-close{
     color: red;
}

.input_fields{
     background-color: #202020;
     border: 1px solid #5F6368;
     /* color: white; */
}

.input_fields:focus{
     background-color: #202020;
     color: white;
     outline: none;
     border-color: white;
}

/* Add Note Popup Button */
.add_note_content{
     background-color: #086EC0;
     transition: 0.2s all ease-in-out;
}

.add_note_content:hover{
     background-color: #086EC0;
     transform: translateX(5px);
     transition: 0.2s all ease-in-out;
}

/* Note related */
.note_modal_content, .toasts{ /* Note Popup Modal Dialog Box*/
     background-color: #202020;
     border: 0.5px solid #5F6368;
}

#noteMessage{
     resize: none;
}

.note_display{ /* Notes display(title and content) after addition of Notes from Popup dialog box*/
     color: white;
     width: 250px;
     height: 250px;
     margin : 0.5rem;
     border: 1px solid #5F6368;
     background-color: #202020;
     border-radius: 8px;
     resize: none;
     font-size: 16px;
     outline: none;
     padding: 1rem;
}

#note_title{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     text-wrap: nowrap;
}

#note_content, .toast-body{
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
}

/* Common elemet styling */
/* Form Control */
.form-control::placeholder {
     color: #BEBFBF;
}

/* Labels */
label{
     color: white;
}

/* Close Button */
.btn-close{
     background-color: #5F6368;
     border-radius: 50%;
     font-size: 10px;
}

/* Horizontal Rule */
hr{
     margin: 0 0 1rem 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
     width: 8px;
 }
  
 /* Track */
 ::-webkit-scrollbar-track {
     background: #202020;
     margin: 0.5rem;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #5F6368;
     border-radius: 50px;
 }
  
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #acacac;
 }

/* --------------------------------------------------------------------- */
/* textarea {
     width: 150px;
     height: 150px;
     border: 1px solid #5F6368;
     background-color: #202020;
     border-radius: 8px;
     resize: none;
     font-size: 16px;
     color: white;
     outline: none;
     padding: 1rem;
     border: none;
} */