 .ok{
     margin : 0.5rem;
     border: 1px solid #5F6368;
     background-color: #202020;
     border-radius: 8px;
     resize: none;
     font-family: sans-serif;
     font-size: 16px;
     color: white;
     outline: none;
     padding: 1rem;
 }

.input_fields{
     background-color: #202020;
     border: 1px solid #5F6368;
     /* color: white; */
}

.input_fields:focus{
     background-color: #202020;
     color: white;
     outline: none;
     border-color: white;
}

label{
     color: white;
}

.signup_btn{
     background-color: #086EC0;
     transition: 0.2s all ease-in-out;
}

.signup_btn:hover{
     background-color: #086EC0;
     transform: translateX(5px);
     transition: 0.2s all ease-in-out;
}
